<div class="swiper-slide project">
  <div class="project__logo" style="background-image: url('../img/pro/zodiac.png');">
  </div>
  <div class="project__text">
    <div class="project__text--big">01</div>
    <div class="project__text--title">Zodiac</div>
    <div class="project__text--main">Новая игра дополненной реальности. Игра основана на реальных событиях. В игре Zodiac мы стерли грань между реальным и виртуальным мирами. Вас ждет удивительный, захватывающий и опасный криминальный мир, полный ловушек и головоломок</div>
  </div>
</div>
<div class="swiper-slide project">
  <div class="project__logo" style="background-image: url('../img/pro/yoogen.png');">
  </div>
  <div class="project__text">
    <div class="project__text--big">02</div>
    <div class="project__text--title">YooGen</div>
    <div class="project__text--main">Ваш личный помощник для создания мероприятий, бронирования столиков и организации досуга в режиме реального времени</div>
  </div>
</div>
<div class="swiper-slide project">
  <div class="project__logo" style="background-image: url('../img/pro/alchemy.png');">
  </div>
  <div class="project__text">
    <div class="project__text--big">03</div>
    <div class="project__text--title">Mystery Alchemy</div>
    <div class="project__text--main">Mystery Alchemy - увлекательная головоломка, в которой вам нужно создавать все больше и больше элементов.
    <br><br>
    Количество пользователей растет с каждым днем</div>
  </div>
</div>
<div class="swiper-slide project">
  <div class="project__logo" style="background-image: url('../img/pro/autoclass.png');">
  </div>
  <div class="project__text">
    <div class="project__text--big">04</div>
    <div class="project__text--title">АвтоКласс Pro</div>
    <div class="project__text--main">Это полный курс теории правил дорожного движения с тестами, аудио и видео
      на реальной дороге. Видео уроки по правилам дорожного движения в приложении АвтоКласс Pro - самый ценный и
      эффективный материал, созданный при участии инструкторов и преподавателей автошкол</div>
  </div>
</div>
<div class="swiper-slide project">
  <div class="project__logo" style="background-image: url('../img/pro/fast.png');">
  </div>
  <div class="project__text">
    <div class="project__text--big">05</div>
    <div class="project__text--title">FAST Sharing</div>
    <div class="project__text--main">Это умное и быстрое приложение для заказа автомобилей. Здесь вы можете
      выбрать подходящий для вас маршрут, стоимость поездки, а также автомобиль, предлагаемый на этом маршруте.
      Благодаря внутренним алгоритмам это приложение быстрее конкурентов</div>
  </div>
</div>
<div class="swiper-slide project">
  <div class="project__logo" style="background-image: url('../img/pro/ship.png');">
  </div>
  <div class="project__text">
    <div class="project__text--big">06</div>
    <div class="project__text--title">Shipsterns</div>
    <div class="project__text--main">Это приложение было разработано для школы серфинга в Австралии. В
      приложении вы можете смотреть видео уроки для начинающих, покупать все необходимое оборудование для
      серфинга, а также записываться на групповые или индивидуальные уроки серфинга</div>
  </div>
</div>