{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss"
  ],
  "ignoreFiles": [
    "**/*.js",
    "**/*.jsx"
  ],
  "rules": {
    "no-missing-end-of-source-newline": null
  }
}
