<div class="logo">
  <a href="/ru/">
    //= ../logo.html
  </a>
</div>
<div class="menu-overlay">
  <div class="menu-button">
    <div class="menu-button-in">
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="menu-content" data-menu-top="Menu" data-menu-bottom="LionsGroup it's the digital world">
    <div class="menu">
      <div class="menu__item">
        <a href="/ru/about.html">О нас</a>
      </div>
      <div class="menu__item">
        <a href="/ru/projects.html">Проекты</a>
      </div>
      <div class="menu__item">
        <a href="/ru/contact.html">Контакты</a>
      </div>
    </div>
  </div>
</div>