<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:type" content="website">
<meta property="og:site_name" content="LionsGroup | Digital Product Studio">
<meta property="og:title" content="LionsGroup | Digital Product Studio">
<meta property="og:description" content="Based in Belarus. Available all over the world">
<meta property="og:image" content="img/logo.svg">
<meta property="og:image:type" content="image/jpeg">
<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../css/main.min.css">